

    :host stepper {
    counter-reset: step; 
    display: flex;
    justify-content: space-around;
    }
    :host stepper step{
    position:relative; 
    text-align: center;
    font-weight: 600;
    width: 100%;
    }
    :host stepper step span {
        width: 50%; 
        padding: 5px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        top: -10px;
    }
    :host stepper step:after {
    content:counter(step); 
    counter-increment: step; 
    height:30px;
    width:30px; 
    line-height: 30px; 
    display:block; 
    text-align: center;
    margin: 0 auto 10px auto; 
    border-radius: 50%; 
    background-color: #27ae60; 
    border: 2px solid #27ae60;
    color: white;
    z-index: 1;
    position: relative;
    cursor: pointer;    
    }
    :host stepper step:hover:after {
        border: 2px solid #27ae60;
        background-color:  white;
        color: #27ae60; 
    }
    :host stepper step:hover {
        color: #27ae60; 
    }
    :host stepper step:before {
        content: ""; 
        height:1px;
        width:100%; 
        top: 50px;
        right: 50%;
        display:block; 
        background-color : lightgreen; 
        position: absolute;
        top: 35px;
    }

    :host stepper .inactive:before {
        content: ""; 
        height:1px;
        width:100%; 
        top: 50px;
        right: 50%;
        display:block; 
        background-color : lightgray; 
        position: absolute;
        top: 35px;
    }

    :host stepper .inactive:after {
        border: 2px solid lightgray;
        background-color:  white;
        color: #333333; 
    }
    :host stepper step:first-child:before {
        content: none; 

    }
   
    :host stepper step.active {
        color:#27ae60;
    }
 
    :host stepper step[disable='true']{
        pointer-events: none;
        opacity: 0.5;
    }