
 :host span {
    width: 50%; 
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    top: -10px;
 }
:host {
    position:relative; 
    text-align: center;
    font-weight: 600;
    width: 100%;

    }
    :host:after {
    /* CSS for creating steper block before the li item*/
    content:counter(step); 
    counter-increment: step; 
    height:30px;
    width:30px; 
    line-height: 30px; 
    border: 2px solid #ddd; 
    display:block; 
    text-align: center;
    margin: 0 auto 10px auto; 
    border-radius: 50%; 
    background-color: white; 
    z-index: 1;
    position: relative;
    cursor: pointer;    
    }
    :host:before {
        /* CSS for creating steper block before the li item*/
        content: ""; 
        height:1px;
        width:100%; 
        bottom: 25px;
        right: 50%;
        display:flex; 
        background-color : lightgrey;
        position: absolute;
    }

    :host([active="true"]):before {
        content: ""; 
        height:1px;
        width:100%; 
        bottom: 25px;
        right: 50%;
        display:flex; 
        background-color : lightgreen; 
        position: absolute;
      
    }
    :host(:first-child):before {
        /* CSS for creating steper block before the li item*/
        content: none; 

    }
   
    :host([active="true"]) {
    color:#27ae60;
    }

    :host([disable="true"]){
        pointer-events: none;
        opacity: 0.5;
    }



  